{% extends 'IITG/base.html' %}
{% block title %}IITG: {{ professor.user }}: Complete your Profile{% endblock %}
{% block professors_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-80 col-md-20">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>&ensp;Complete your profile</h3>
                    <br><br>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'IITG/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
