{% extends 'IITG/base_visitor.html' %}
{% block title %}Add a New course{% endblock %}
{% block professors_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <!-- Left professor Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                        <a href="{% url 'IITG:prof_detail_general' professor.id %}">
                            {% if professor.pro_pic %}
                                <img src="{{ professor.pro_pic.url }}" class="img-responsive">
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>
                    <h2>{{ professor.user }} </h2>
                    <h2><small>{{ professor.designation }}</small></h2>
                    <h3>{{ professor.Department }}</h3>
                    <br>
                    <h4><small>Phone no. {{ professor.phone_no }}</small></h4>
                    <h4><small>Room no. {{ professor.room_no }}</small></h4>
                </div>
            </div>
        </div>

        <!-- Right cou</e Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Research Interests</h3>
                        {{ professor.Research_Interests }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Biography</h3>
                        {{ professor.Biography }}
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
